# 1. Manipulate using a list
i) To add new elements to the end of the list
ii) To reverse elements in the list
iii) To display the same list of elements multiple times.
iv) To concatenate two list
v) To sort the elements in the list in ascending order.

In [1]:
#i) To add new elements to the end of the list
List = ['Vaibhav ', 1, 2, 50.50]

In [11]:
List

['Vaibhav', 1, 2, 50.5]

In [12]:
#ii) To reverse elements in the list
List.reverse()

In [13]:
List

[50.5, 2, 1, 'Vaibhav']

In [14]:
#iii) To display the same list of elements multiple times.
List*10

[50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav',
 50.5,
 2,
 1,
 'Vaibhav']

In [16]:
#iv) To concatenate two list
List1 = ['Vaibhav', 'pateriya']
List2 = ['is','a','employee', ]
concat_list = List1 + List2
concat_list

['Vaibhav', 'pateriya', 'is', 'a', 'employee']

In [19]:
#v) To sort the elements in the list in ascending order.
List3 = [25, 45,664,789,22]
List3.sort()
List3

[22, 25, 45, 664, 789]

# 2. Write a Python program to do in the tuples.
i)Manipulate using tuples.
ii)To add new elements to the end of the tuples
iii)To reverse elements in the list
iv)To display the elements of the same tuple 
v)To concatenate two tuples
vi)To sort the elements in the list in ascending order.

In [23]:
#i) Manipulate using tuples.
tuple1 = (1,5,10,'Vaibhav','Cricket')
tuple1.append(5)
# we cannot manipulate tuple.

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
#ii) To add new elements to the end of the tuples
tuple1.append(5)
#we cannot add elements in tuple.

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
#iii) To reverse elements in the list
tuple1.reverse()
tuple1

AttributeError: 'tuple' object has no attribute 'reverse'

In [30]:
#iv) To display the elements of the same tuple
tuple1[3]

'Vaibhav'

In [31]:
tuple1[1]

5

In [33]:
#v) To concatenate two tuples
tup1 = (17,27,19)
tup2 = (23,21,22)
concat_tup = tup1 + tup2
concat_tup

(17, 27, 19, 23, 21, 22)

In [34]:
#vi) To sort the elements in the list in ascending order.
concat_tup.sort()
concat_tup

AttributeError: 'tuple' object has no attribute 'sort'

# 3. Write a python program to implement the following using list.
i) Create a list with integers (minimum 10 numbers)
ii) How to display the last number in the list.
iii) Command for displaying the values from the list[0:4]
iv) Command for displaying the values from the list [2:]
v) Command for displaying the values from the list [:6]

In [35]:
#i) Create a list with integers (minimum 10 numbers)
list10 = [11,23,55,6,78,4,39,33,56,10]
list10

[11, 23, 55, 6, 78, 4, 39, 33, 56, 10]

In [36]:
#ii) How to display the last number in the list.
list10[9]

10

In [38]:
#iii) Command for displaying the values from the list[0:4]
list10[0:4]

[11, 23, 55, 6]

In [39]:
#iv) Command for displaying the values from the list [2:]
list10[2:]

[55, 6, 78, 4, 39, 33, 56, 10]

In [40]:
#v) Command for displaying the values from the list [:6]
list10[:6]

[11, 23, 55, 6, 78, 4]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)
i) To display the elements 10 and 50 from tuple1.
ii) To display the length of a tuple1.
iii) To find the minimum element from tuple1.
iv) To add all elements in the tuple1.
v) To display the same tuple1 multiple times.

In [41]:
#i) To display the elements 10 and 50 from tuple1.
tuple1 = (10, 50, 20, 40, 30)
tuple1[0], tuple1[1]

(10, 50)

In [42]:
#ii) To display the length of a tuple1.
len(tuple1)

5

In [43]:
#iii) To find the minimum element from tuple1.
min(tuple1)

10

In [44]:
#iv) To add all elements in the tuple1.
sum(tuple1)

150

In [46]:
#v) To display the same tuple1 multiple times.
tuple1*5

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5. Write a Python Program:
i) To calculate the length of a string
ii) To reverse words in a string
iii) To display the same string multiple times
iv) To concatenate two strings
v) Str1="South India",using string slicing to display "India"

In [48]:
#i) To calculate the length of a string
Str1 = "South India"
len(Str1)

11

In [51]:
#ii) To reverse words in a string
Str1[::-1]

'aidnI htuoS'

In [52]:
#iii) To display the same string multiple times
Str1*5

'South IndiaSouth IndiaSouth IndiaSouth IndiaSouth India'

In [55]:
#iv) To concatenate two strings
Str2 = "Bengaluru is in South India"
concat_str= Str1 + " " + Str2
concat_str

'South India Bengaluru is in South India'

In [56]:
#v) Str1="South India",using string slicing to display "India"
Str1[6:]

'India'

# 6. Perform the following:
i) creating the Dictionary
ii) Accessing values and keys in the Dictionary.
iii) Updating the dictionay using a function.
iv) Clear and delete the dictionary values.

In [90]:
#i) creating the Dictionary
candidate = {'f_name':'Vaibhav','l_name':'Pateriya','age': 24, 'Country':'India'}
candidate

{'f_name': 'Vaibhav', 'l_name': 'Pateriya', 'age': 24, 'Country': 'India'}

In [91]:
#ii) Accessing values and keys in the Dictionary.
candidate.keys()

dict_keys(['f_name', 'l_name', 'age', 'Country'])

In [92]:
candidate.values()

dict_values(['Vaibhav', 'Pateriya', 24, 'India'])

In [72]:
#iii) Updating the dictionay using a function.
candidate.update({'age':21})
candidate

{'f_name': 'Vaibhav', 'l_name': 'Pateriya', 'age': 21, 'Country': 'India'}

In [73]:
#iv) Clear and delete the dictionary values.
candidate.pop('age')
candidate

{'f_name': 'Vaibhav', 'l_name': 'Pateriya', 'Country': 'India'}

# 7. Python program to insert a number to any position in a list

In [74]:
list = [12,24,36,60,72]
list.insert(3,48)
list

[12, 24, 36, 48, 60, 72]

# 8. Python program to delete an element from a list by index

In [77]:
list.pop(5)
list

[12, 24, 36, 48, 60]

# 9. Write a program to display a number from 1 to 100.

In [82]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [84]:
tuple1 = (10, 50, 20, 40, 30)
sum = 0
for i in tuple1:
    sum += i
print(sum)

150

# 11. Create a dictionary containg three lambda functions square,cube and square root.

In [99]:
dic = {
    'Square': lambda num: num**2,
    'Cube': lambda num: num**3,
    'Square_root': lambda num: num**0.5
}
dic

{'Square': <function __main__.<lambda>(num)>,
 'Cube': <function __main__.<lambda>(num)>,
 'Square_root': <function __main__.<lambda>(num)>}

In [105]:
num = 5
result_square = dic['Square'](num)
result_cube = dic['Cube'](num)
result_square_root = dic['Square_root'](num)
print(result_square,result_cube,result_square_root)

25 125 2.23606797749979

In [107]:
total = (result_square+result_cube+result_square_root)
print(total)

152.2360679774998

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls = ['hello','Dear','hOw','ARe','You']

In [122]:
ls = ['hello','Dear','hOw','ARe','You']
result = []
for word in ls:
    if word[1].isupper():
        result.append(word)
print(result)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon.
(use lambda functions) Formula : wMoon = (wEarth * GMoon)/GEarth
i) # Weight of people in Kg

In [127]:
WeightOnEarth = {'John':45,'Shelly':65,'Marry':35}
GMoon = 1.622
GEarth = 9.81
wMoon =  *GMoon)/GEarth

WeightOnMoon = {name: (weight * GMoon) / GEarth for name, weight in WeightOnEarth.items()}
print("Weight on Earth (Kg):", WeightOnEarth)
print("Weight on the Moon (Kg):", WeightOnMoon)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4123295123.py, line 4)