In [1]:
import numpy as np
import pandas as pd

In [2]:
first_series = pd.Series(list('Vaibhav'))

In [3]:
print (first_series)

0    V
1    a
2    i
3    b
4    h
5    a
6    v
dtype: object

In [3]:
%matplotlib inline

import pandas as pd
from IPython.core.display import HTML

titles = pd.read_csv("C:/Users/pater/OneDrive/Documents/Code Practice/Python/titles.csv")
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1. How many movies are listed in the titles dataframe?

In [4]:
# Assuming 'titles' is your DataFrame
num_movies = titles.shape[0]
print(f'The number of movies listed in the titles DataFrame is: {num_movies}')

The number of movies listed in the titles DataFrame is: 244914

# 2. What are the earliest two films listed in the titles dataframe?

In [5]:
df = pd.read_csv("titles.csv")

df_sorted = df.sort_values(by='year')

earliest_films = df_sorted.head(2)

print("The earliest two films listed:")
print(earliest_films[['title', 'year']])

The earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3. How many movies have the title "Hamlet"?

In [6]:
hamlet_count = df['title'].value_counts()['Hamlet']

# Approach 2: Using boolean indexing and sum()
hamlet_count = (df['title'] == 'Hamlet').sum()

print("Number of movies with the title 'Hamlet':", hamlet_count)

Number of movies with the title 'Hamlet': 20

# 4. How many movies are titled "North by Northwest"?

In [7]:
north_by_northwest_count = df['title'].value_counts()['North by Northwest']

# Approach 2: Using boolean indexing and sum()
north_by_northwest_count = (df['title'] == 'North by Northwest').sum()

print("Number of movies with the title 'North by Northwest':", north_by_northwest_count)

Number of movies with the title 'North by Northwest': 1

# 5. When was the first movie titled "Hamlet" made?

In [8]:
hamlet_movies = df[df['title'] == 'Hamlet']

# Find the minimum year in the filtered DataFrame
first_hamlet_movie_year = hamlet_movies['year'].min()

print("The first movie titled 'Hamlet' was made in the year:", first_hamlet_movie_year)

The first movie titled 'Hamlet' was made in the year: 1910

# 6. How many movies were made in the year 1950?

In [9]:
movies_1950 = df[df['year'] == 1950]

# Count the number of rows in the filtered DataFrame
number_of_movies_1950 = len(movies_1950)

print("Number of movies made in the year 1950:", number_of_movies_1950)

Number of movies made in the year 1950: 1113

# 7. How many movies were made in the year 1960?

In [10]:
movies_1960 = df[df['year'] == 1960]

# Count the number of rows in the filtered DataFrame
number_of_movies_1960 = len(movies_1960)

print("Number of movies made in the year 1960:", number_of_movies_1960)

Number of movies made in the year 1960: 1549

# 8. How many movies were made from 1950 through 1959?

In [11]:
movies_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of rows in the filtered DataFrame
number_of_movies_1950s = len(movies_1950s)

print("Number of movies made from 1950 through 1959:", number_of_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# 9. In what years has a movie titled "Batman" been released?

In [12]:
batman_movies = df[df['title'] == 'Batman']

# Extract the unique release years of Batman movies
years_with_batman_movies = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:", years_with_batman_movies)

Years in which a movie titled 'Batman' has been released: [1943 1989]

# 10. How many roles were there in the movie "Inception"?

In [14]:
import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

inception_roles = df[df['title'] == 'Inception']

num_roles_inception = inception_roles['character'].nunique()

print(f'The number of roles in the movie "Inception" is: {num_roles_inception}')

The number of roles in the movie "Inception" is: 56

# 11. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
inception_roles = df[df['title'] == 'Inception']

# Count the number of roles in "Inception" with missing or null "n" values
roles_not_ranked = inception_roles['n'].isna().sum()

print("Number of roles in the movie 'Inception' not ranked by an 'n' value:", roles_not_ranked)

In [ ]:
12. But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
inception_roles = df[df['title'] == 'Inception']

# Count the number of roles in "Inception" with non-null "n" values
roles_with_n_value = inception_roles['n'].count()

print("Number of roles in the movie 'Inception' with an 'n' value:", roles_with_n_value)

Number of roles in the movie 'Inception' with an 'n' value: 51

# 13. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
north_by_northwest_cast = df[(df['title'] == 'North by Northwest')]

north_by_northwest_cast = north_by_northwest_cast[pd.to_numeric(north_by_northwest_cast['n'], errors='coerce').notna()]

# Convert the "n" column to numeric for sorting
north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')

# Display the cast in their correct "n"-value order
print(north_by_northwest_cast[['name', 'n']])

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# 14 . Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [18]:
sleuth_1972_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 1972)]

sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')

# Display the entire cast in "n"-order
print(sleuth_1972_cast[['name', 'n']])

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# 15. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
sleuth_2007_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 2007)]

# Sort the DataFrame by the "n" value to order the cast correctly
sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast in "n"-order
print(sleuth_2007_cast[['name', 'n']])

                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

# 16. How many roles were credited in the silent 1921 version of Hamlet?

In [20]:
hamlet_1921_roles = df[(df['title'] == 'Hamlet') & (df['year'] == 1921)]

# Count the number of unique roles credited in the 1921 version of "Hamlet"
number_of_roles_1921 = len(hamlet_1921_roles['character'].unique())

print("Number of roles credited in the silent 1921 version of 'Hamlet':", number_of_roles_1921)

Number of roles credited in the silent 1921 version of 'Hamlet': 9

# 17. How many roles were credited in Branagh's 1996 Hamlet?

In [21]:
branagh_hamlet_1996_roles = df[(df['title'] == 'Hamlet') & (df['year'] == 1996)]

# Count the number of unique roles credited in Branagh's 1996 version of "Hamlet"
number_of_roles_branagh_1996 = len(branagh_hamlet_1996_roles['character'].unique())

print("Number of roles credited in Kenneth Branagh's 1996 version of 'Hamlet':", number_of_roles_branagh_1996)

Number of roles credited in Kenneth Branagh's 1996 version of 'Hamlet': 49

# 18. How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
hamlet_roles = df[df['title'].str.contains('Hamlet', case=False, regex=False)]

# Count the number of unique roles across all "Hamlet" films
total_hamlet_roles = len(hamlet_roles['character'].unique())

print("Number of 'Hamlet' roles listed in all film credits through history:", total_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 485

# 19. How many people have played an "Ophelia"?

In [23]:
ophelia_actors = df[df['character'] == 'Ophelia']

# Count the number of unique actors who have played the character "Ophelia"
number_of_ophelia_actors = len(ophelia_actors['name'].unique())

print("Number of people who have played the character 'Ophelia':", number_of_ophelia_actors)

Number of people who have played the character 'Ophelia': 115

# 20. How many people have played a role called "The Dude"?

In [24]:
the_dude_actors = df[df['character'] == 'The Dude']

# Count the number of unique actors who have played the character "The Dude"
number_of_the_dude_actors = len(the_dude_actors['name'].unique())

print("Number of people who have played a role called 'The Dude':", number_of_the_dude_actors)

Number of people who have played a role called 'The Dude': 19

# 21. How many people have played a role called "The Stranger"?

In [25]:
the_stranger_actors = df[df['character'] == 'The Stranger']

# Count the number of unique actors who have played the character "The Stranger"
number_of_the_stranger_actors = len(the_stranger_actors['name'].unique())

print("Number of people who have played a role called 'The Stranger':", number_of_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# 22. How many roles has Sidney Poitier played throughout his career?

In [26]:
sidney_poitier_roles = df[df['name'] == 'Sidney Poitier']

# Count the number of unique roles played by Sidney Poitier
number_of_sidney_poitier_roles = len(sidney_poitier_roles['character'].unique())

print("Number of roles played by Sidney Poitier throughout his career:", number_of_sidney_poitier_roles)

Number of roles played by Sidney Poitier throughout his career: 41

# 23. How many roles has Judi Dench played?

In [27]:
judi_dench_roles = df[df['name'] == 'Judi Dench']

# Count the number of unique roles played by Judi Dench
number_of_judi_dench_roles = len(judi_dench_roles['character'].unique())

print("Number of roles played by Judi Dench throughout her career:", number_of_judi_dench_roles)

Number of roles played by Judi Dench throughout her career: 46

# 24. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
cary_grant_supporting_roles_1940s = df[(df['name'] == 'Cary Grant') & (df['n'] == 2) & (df['year'] >= 1940) & (df['year'] <= 1949)]

# Sort the DataFrame by the 'year' column to order the roles by year
cary_grant_supporting_roles_1940s = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Display the supporting roles played by Cary Grant in the 1940s
print(cary_grant_supporting_roles_1940s[['year', 'character']])

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

# 25. List the leading roles that Cary Grant played in the 1940s in order by year

In [29]:
cary_grant_leading_roles_1940s = df[(df['name'] == 'Cary Grant') & (df['n'] == 1) & (df['year'] >= 1940) & (df['year'] <= 1949)]

# Sort the DataFrame by the 'year' column to order the leading roles by year
cary_grant_leading_roles_1940s = cary_grant_leading_roles_1940s.sort_values(by='year')

# Display the leading roles played by Cary Grant in the 1940s
print(cary_grant_leading_roles_1940s[['year', 'character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 26. How many roles were available for actors in the 1950s?

In [30]:
roles_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of unique character roles available for actors in the 1950s
number_of_roles_1950s = len(roles_1950s['character'].unique())

print("Number of roles available for actors in the 1950s:", number_of_roles_1950s)

Number of roles available for actors in the 1950s: 128233

# 27. How many roles were available for actresses in the 1950s?

In [31]:
actress_roles_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959) & (df['type'] == 'actress')]

# Count the number of unique character roles available for actresses in the 1950s
number_of_actress_roles_1950s = len(actress_roles_1950s['character'].unique())

print("Number of roles available for actresses in the 1950s:", number_of_actress_roles_1950s)

Number of roles available for actresses in the 1950s: 36266

# 28. How many leading roles (n=1) were available from the beginning of film history through 1980?

In [32]:
leading_roles_until_1980 = df[(df['n'] == 1) & (df['year'] <= 1980)]

# Count the number of leading roles (n=1) available from the beginning of film history through 1980
number_of_leading_roles_until_1980 = len(leading_roles_until_1980)

print("Number of leading roles (n=1) available from the beginning of film history through 1980:", number_of_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# 29. How many non-leading roles were available through from the beginning of film history through 1980?

In [33]:
non_leading_roles_until_1980 = df[(df['n'] != 1) & (df['year'] <= 1980)]

# Count the number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980
number_of_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)

print("Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980:", number_of_non_leading_roles_until_1980)

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

# 30. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [34]:
minor_roles_until_1980 = df[(pd.to_numeric(df['n'], errors='coerce').isna()) & (df['year'] <= 1980)]

# Count the number of roles through 1980 that did not warrant a numeric "n" rank
number_of_minor_roles_until_1980 = len(minor_roles_until_1980)

print("Number of roles through 1980 that did not warrant a numeric 'n' rank:", number_of_minor_roles_until_1980)

Number of roles through 1980 that did not warrant a numeric 'n' rank: 448347